{% extends "core/base.html" %} {% block content %}
<h1>Plant Details: {{ plant.name }}</h1>

<p><strong>Latin Name:</strong> {{ plant.latin_name|default:"Not specified" }}</p>
<p><strong>Lifespan:</strong>
  {% if plant.lifespan %}
    {{ plant.get_lifespan_display }}
  {% else %}
    Not specified
  {% endif %}
</p>
<p><strong>Type:</strong> 
  {% if plant.type %}
    {{ plant.get_type_display }}
  {% else %}
    Not specified
  {% endif %}
</p>
<p><strong>Planting Date:</strong> {{ plant.planting_date|date:"  F j, Y" }}</p>
<p><strong>Garden Bed:</strong>
  {% if plant.bed %}
    {{ plant.bed.name }}
  {% else %}
    Not specified
  {% endif %}
</p>
<p><strong>Notes:</strong> {{ plant.notes|linebreaksbr|default:"No additional notes" }}</p>



<a href="{% url 'plant_list' %}" class="btn btn-secondary mt-3">Back to plants</a>

<a href="{% url 'plant_edit' plant.pk %}" class="btn btn-warning">Edit</a>
<!-- Delete Button with modal confirmation -->
<button
  class="btn btn-danger"
  data-bs-toggle="modal"
  data-bs-target="#deleteModal"
>
  Delete
</button>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Garden Plant</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        Are you sure you want to delete <strong>{{ plant.name }}</strong>?
      </div>

      <div class="modal-footer">
        <form method="post" action="{% url 'plant_delete' plant.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, delete</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
